body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  font-family: monospace;
}

.board {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex: 1 0 450px;
  align-items: center;
  padding: 30px 100px;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 35px 35px 70px #d9d9d9, -35px -35px 70px #ffffff;
}

.board .form__value {
  padding: 5px 20px;
}

input {
  border: none;
  box-shadow: 35px 35px 70px #d9d9d9, -35px -35px 70px #ffffff;
  padding: 10px 30px;
  outline: none;
  max-width: 100%;
  border-radius: 10px;
}

button {
  padding: 10px 30px;
  border: none;
  background-color: #333333;
  border-radius: 10px;
  color: #f5f5f7;
  font-family: monospace;
}

button:hover {
  transition: 0.2s ease-in;
  background-color: #d9d9d9;
  color: #333333;
}

.show {
  padding: 15px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 10px;
}
